@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .card{
    @apply absolute top-0 right-0 bottom-0 left-0 m-auto w-[350px] h-[200px]
    cursor-pointer z-0 opacity-0 bg-transparent border-2 rounded-lg p-3
  }
  .card--active{
    @apply opacity-100 z-[99] bg-gradient-to-br from-red-500 to-red-800
    border-0 p-5
  }
  /* .card--active div{
    @apply top-20
  } */

}

.card {
  transition: 500ms; 
}

.card--active {
  transform: scale(1);
}

.card--left {
  transform: translateX(-80%) scale(0.8);
  transition: 500ms;
  opacity: 0.2;
}

.card--right {
  transform: translateX(80%) scale(0.8);
  transition: 500ms;
  opacity: 0.2;
}
